.new-introductions {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}

.new-introductions .description {
  width: 35%;
}

.new-introductions .description > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.new-introductions .description h4 {
  font-size: 70px;
  text-align: left;
  letter-spacing: 0.25px;
  font-weight: 500;
  line-height: 1.1;
}

.new-introductions .cards {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.new-introductions .cards p {
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.new-introductions p {
  margin: 0;
}

.new-introductions .cards p a {
  margin-top: 0.5rem;
  font-size: var(--body-font-size-s);
}

.new-introductions p:first-of-type {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #454545;
}

.new-introductions .button-container {
  margin-top: 1rem;
}

.new-introductions .button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-introductions .item-link:hover {
  text-decoration: none;
}

@media (width <= 900px) {
  .new-introductions {
    flex-direction: column;
    margin-top: 25px;
  }

  .new-introductions .description {
    width: 100%;
  }

  .new-introductions .cards {
    width: 100%;
  }
}

@media (width <= 1200px) {
  .new-introductions .description h4 {
    font-size: 44px;
  }
}