main .hero-container > div {
	max-width: unset;
  }
	
  main .hero-container {
	padding: 0;
  }
  
  .hero {
	position: relative;
	padding: 32px;
	min-height: 300px;
  }
  
  .hero h1 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: var(--white);
  }
  
  .hero picture {
	position: absolute;
	z-index: -1;
	inset: 0;
	object-fit: cover;
	box-sizing: border-box;
  }
  
  .hero img {
	object-fit: cover;
	width: 100%;
	height: 100%;
  }
  
  /* video hero styles */
  main .hero-container {
	  position: relative;
  }
    
  main .hero-container .block.hero.video {
	  padding: 0;	
	  overflow: hidden;
  }
  
  main .hero-container .block.hero.video > div {
	  height: 100vh;
	  width: auto;
  }
  
  main .hero-container .block.hero.video > div > video {
	  min-width: 100%;
	  min-height: 100%;
  }

  main .hero-container .block.hero.video > div:nth-of-type(2) {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	padding-top: 16px;
}

main .hero-container .block.hero.video > div:nth-of-type(2) h2 {
	font-family: var(--lilly-heading-font);
	font-size: 32px;
    color: var(--lilly-dark-color);
    margin: 1rem 0 0 0;
    line-height: 28px;
    letter-spacing: 1.33px;
	font-weight: 400;
}

main .hero-container .block.hero.video > div:nth-of-type(2) a {
	width: 17.5rem;
    background: var(--lilly-dark-color);
    line-height: 4;
    color: var(--white);
    border: 1px solid var(--lilly-color);
    font-family: var(--lilly-body-font);
    margin-top: 1.5rem auto;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 500;
}