footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer br {
  display: none;
}

footer .footer .section {
  border-top: 1px solid var(--divider-border-color);
  max-width: 100%;
  padding: 3rem;
}

footer .footer-section .default-content-wrapper {
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .footer-section:first-of-type .default-content-wrapper .column {
  max-width: 520px;
}

.footer .footer-section:first-of-type .column p:first-of-type {
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0;
}
.footer .footer-section:first-of-type .column p:nth-child(2) {
  padding-top: 10px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  letter-spacing: .6px;
  color: #717171;
}

.footer .default-content-wrapper .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.75rem;
}

.footer .default-content-wrapper .list ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.footer .default-content-wrapper .list > ul {
  margin: 0 2rem;
}

.footer .default-content-wrapper .list ul li {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-transform: uppercase;
}

.footer .default-content-wrapper .list ul li ul li {
  white-space: nowrap;
  color: #717171;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}

footer .footer .footer-section:last-of-type {
  padding: 1.5rem 0 3.5rem;
}

footer .footer-section:last-of-type .default-content-wrapper {
  max-width: 100%;
  justify-content: flex-start;
}

footer .footer-section:last-of-type .default-content-wrapper p {
  font-size: 14px;
  color: #717171;
  margin-right: 3rem;
}

footer .footer-section:last-of-type .default-content-wrapper p:first-of-type img {
  width: 270px;
  height: auto;
}

@media (width < 1200px) {
  footer .footer-section .default-content-wrapper {
    flex-direction: column;
  }
}
